body {
    font-family: Arial;
    margin: 40px;
    background-color: #f2f2f2;
}

form {
    background-color: white;
    padding: 20px;
    width: 50%;
}

button {
    padding: 10px;
    background-color: green;
    color: white;
}
